*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-image: url('./images/w.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
    background-attachment: fixed;
}

.container{
    width: 80%;
    max-width: 500px;
    margin: 180px auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(97, 93, 93);
}

input{
    width: 60%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}

input:focus{
    outline: none;
    border: 2px solid #4CAF50;
    box-shadow: 0 0 8px #4CAF50;
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
}

input::placeholder{
    color: rgb(172, 167, 167);
    font-size: 18px;
    text-align: center;
}


#convertionResult {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease;
  }
  
  /* Apply green glow and slight pop when there's content */
  #convertionResult:not(:placeholder-shown) {
    background-color: #e6ffe6;
    border: 2px solid #4CAF50;
    box-shadow: 0 0 10px #4CAF50;
    transform: scale(1.5);
  }  



select{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 60%;
}

button{
    width: 60%;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    background-color: white;
    font-size: 18px;
}

/*Responsive design*/
@media (max-width: 600px){
    input{
        width: 85%;
        padding: 0.5em;
        border-radius: 5px;
        border: none;
    }

    select{
        padding: 0.5em;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        width: 85%;
    }

    button{
        width: 85%;
        border-radius: 5px;
        border: none;
        padding: 0.5em;
        background-color: white;
        font-size: 18px;
    }
}
